:root {
    --primary-text-color:#212121;
    --accent-color:#2196F3;
    --text-color: #757575;
    --primary-white-color: #FFFFFF;

}

body {
    background-color: var(--primary-white-color);
    
    font-family: 'Roboto', sans-serif;

    letter-spacing: 0.03em;
}

/* Logo */
.logo {
    color: #000000;
}

.accent {
    color: var(--accent-color);
}

.logo, .accent {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}


/* Site nav */

.site-nav-item a {
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.site-nav-item a:hover,
.site-nav-item a:focus {
    color: var(--accent-color);
}

.site-nav-item .link-current {
    color: var(--accent-color);
}

/* Contacts*/

.contacts a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/* Стили для Студии */

.features-title, 
.work-title, 
.team-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Маркированный список */
.site-nav-item,
.contacts-item,
.features-item,
.work-item,
.team-item {
    list-style-type: none;
}

/* Hero */

.hero-title {
    color: var(--primary-white-color);
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;;
}


/* Button */
.primary-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Features */

.features-list .title {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list .subtitle {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* Work */



/* Team */

.team-list .title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-list .subtitle {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}


/* Стили для Портфолио*/

/* Filter */

.filter .button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border: none;
}

.filter .button:hover,
.filter .button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


/* Projects */
.projects-list .title {
    color: var(--primary-text-color);
}
.projects-list .subtitle {
    color: var(--text-color);
}