:root {
    --primary-text-color:#212121;
    --accent-color:#2196F3;
    --text-color: #757575;
    --primary-white-color: #FFFFFF;

}

body {
    background-color: var(--primary-white-color);
}

.list {
    list-style: none;
}

/* Section */

.section-title {
    color: var(--primary-text-color);
}

/* Logo */
.logo {
    color: #000000;
}
.icon {
    color: var(--accent-color);
}
a {
    text-decoration: none;
}

/* Site nav */

.site-nav a {
color: var(--primary-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.site-nav .link-current {
    color: var(--accent-color);
}

/* Contacts*/

.contacts a {
    color: var(--text-color);
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/* Hero */

.hero-title {
    color: var(--primary-white-color);
}

/* Button */
.primary-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;
}

/* Features */

.features-list .title {
    color: var(--primary-text-color);
}

.features-list .desc {
    color: var(--text-color);
}

/* Work */



/* Team */
.team-list .title {
    color: var(--primary-text-color);
}

.team-list .subtitle {
    color: var(--text-color);
}

/* PORTFOLIO */

/* Filter */

.button-list .button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border: none;
}

.button-list .button:hover,
.button-list .button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


/* Projects */
.projects-list .title {
    color: var(--primary-text-color);
}
.projects-list .subtitle {
    color: var(--text-color);
}