body {
    background-color: #E5E5E5;
}

.list {
    list-style: none;
}

/* Logo */
.logo {
    color: #000000;
}
.icon {
    color: #2196F3;
}
a {
    text-decoration: none;
}

/* Site nav */

.site-nav a {
color: #212121;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #2196F3
}

/* Contact section */

.cont-sect a {
    color: #757575
}

.cont-sect a:hover,
.cont-sect a:focus {
    color:#2196F3
}